<h3 class="text-center m-3">Otel Admin Yönetimi</h3>
<hr class="w-100">
  
 <!-- grid.component.html -->
<div class="grid-container">
  <button routerLink="addHotel" id="button1" class="rect-button">Otel Ekle</button>
  <button routerLink="myHotels" id="button2" class="rect-button">Otel ve Rezervasyonlar</button>
  <button routerLink="getRoom" id="button3" class="rect-button">Odalarım</button>
  <button routerLink="getPayments" id="button4" class="rect-button">Ödemeler</button>
  <button routerLink="getReview" id="button5" class="rect-button">Yorumlar</button>
  <button routerLink="addRoom" id="button6" class="rect-button">Oda Ekle</button>
</div>
