<h2 mat-dialog-title class="text-center">Rezervasyon </h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="reservationForm" class="example-form">

          <input type="hidden" formControlName="userId"  placeholder="User Id">
          <input type="hidden" formControlName="totalPrice" [value]="totalPrice">
          <input type="hidden" formControlName="hotelId" placeholder="Hotel Id">
          <input type="hidden" formControlName="roomId"  placeholder="roomId">
  
        <!-- DateTimepicker -->
        <mat-form-field class="m-1">
          <input formControlName="checkIn" matInput [matDatepickerFilter]="checkInFilter" [matDatepicker]="checkInPicker" placeholder="Check-in Date" (dateChange)="onCheckInDateChange($event)">
          <mat-datepicker-toggle matSuffix [for]="checkInPicker"></mat-datepicker-toggle>
          <mat-datepicker #checkInPicker></mat-datepicker>
          <mat-error *ngIf="reservationForm.get('checkIn')?.hasError('required')">
            Check-in Tarihi gereklidir
          </mat-error>
        </mat-form-field>
        <mat-form-field  class="m-1">
          <input formControlName="checkOut" matInput [matDatepickerFilter]="checkOutFilter" [matDatepicker]="checkOutPicker" placeholder="Check-out Date"  (dateChange)="onCheckOutDateChange($event)" [min]="checkInDate" >
          <mat-datepicker-toggle matSuffix [for]="checkOutPicker"></mat-datepicker-toggle>
          <mat-datepicker #checkOutPicker></mat-datepicker>
          <mat-error *ngIf="reservationForm.get('checkOut')?.hasError('required')">
            Check-out Tarihi gereklidir
          </mat-error>
        </mat-form-field>
          <input type="hidden" formControlName="status" value="PNC" placeholder="status">
          <div class="total-price">
            <label><b>Toplam fiyat:</b> {{totalPrice}} ₺</label>
          </div>
    </form>
    <h5 class="text-center">Yoğunluk takvimi</h5>
    <div *ngIf="Room && rezModel" class="card flex mx-auto w-100">
      <p-calendar
      class="max-w-full" 
      [inline]="true" 
      [(ngModel)]="date">
          <ng-template pTemplate="date" let-date>
              <span [ngStyle]="getDayStyle(date)">
                  {{ date.day }}
              </span>
          </ng-template>
      </p-calendar>
  </div>
</mat-dialog-content>
<div class="errormessage" *ngIf="!!errorMessage">
  {{this.errorMessage}}
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>İptal</button>
  <button (click)="addReservation()" mat-button [disabled]="!reservationForm.valid">Rezervasyon Yap</button>
</mat-dialog-actions>
