<div class="container my-3">
    <div class="row">
      <div class="col-md-12">
        <app-sidebar id="sidebar"></app-sidebar>
      </div>
    </div>
  
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6" *ngFor="let comment of reviewsModel">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">{{ getHotelName(comment.hotelId) || 'Loading...' }}</h5>
              <div class="star-rating">
                <ng-container *ngFor="let star of getStars(comment.rating); let i = index">
                  <i class="fas fa-star" [ngClass]="{'text-warning': i < comment.rating, 'text-muted': i >= comment.rating}"></i>
                </ng-container>
              </div>
              <p class="card-text mt-2">{{ comment.comment }}</p>
              <p class="card-text"><small class="text-muted">Yorum Tarihi: {{ comment.createdDate| date: 'mediumDate' }}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
<div class="card flex justify-content-center">
  <p-paginator 
      (onPageChange)="onPageChange($event)" 
      [first]="first" 
      [rows]="rows" 
      [totalRecords]="totalCount" 
      [rowsPerPageOptions]="[10, 20, 30]" />
</div>

  </div>
  
