.container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}

.form-container,
.extensions-container {
  flex: 1;
  min-width: 300px; /* En küçük genişlik */
}

.example-form {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.mat-form-field {
  margin-bottom: 16px;
}

.mat-dialog-actions {
  padding: 16px;
  background: #f1f1f1;
  border-top: 1px solid #e0e0e0;
}

.btn {
  margin: 8px;
}

.text-danger {
  color: #f44336;
  font-size: 14px;
}

.example-container {
  padding: 16px;
}

.example-list {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  min-height: 100px;
  background: #f9f9f9;
  padding: 8px;
}

.example-box {
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 4px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background: #fff;
  cursor: move;
}

.example-box img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
