<div class="container my-3">
  <div class="row">
    <div class="col-md-12">
      <app-sidebar id="sidebar"></app-sidebar>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="userForm" (ngSubmit)="submitForm()" class="user-form">
        <input type="hidden" value="{{userId}}" formControlName="id">

        <div class="form-group">
          <label for="username">Kullanıcı Adı</label>
          <input type="text" class="form-control" id="username" formControlName="username">
          <app-error-message [control]="userForm.get('username')"></app-error-message>
        </div>

        <div class="form-group">
          <label for="name">İsim</label>
          <input type="text" class="form-control" id="name" formControlName="name">
          <app-error-message [control]="userForm.get('name')"></app-error-message>
        </div>

        <div class="form-group">
          <label for="email">E-posta Adresi</label>
          <input type="email" class="form-control" id="email" formControlName="email">
          <app-error-message [control]="userForm.get('email')"></app-error-message>
        </div>

        <div class="form-group">
          <label for="age">Yaş</label>
          <input type="text" class="form-control" id="age" formControlName="age">
          <app-error-message [control]="userForm.get('age')"></app-error-message>
        </div>

        <div class="form-group">
          <label for="phone">Telefon</label>
          <input type="text" class="form-control" id="phone" formControlName="phone">
          <app-error-message [control]="userForm.get('phone')"></app-error-message>
        </div>

        <div class="form-group">
          <label for="password">Şifre</label>
          <input type="password" class="form-control" id="password" formControlName="password">
          <app-error-message [control]="userForm.get('password')"></app-error-message>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Tekrar Şifre</label>
          <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
          <app-error-message [control]="userForm.get('confirmPassword')"></app-error-message>
        </div>

        <div class="form-group">
          <label>Cinsiyet</label>
          <div class="radio-group">
            <input type="radio" id="male" name="gender" formControlName="gender" [value]="false">
            <label for="male">Erkek</label>

            <input type="radio" id="female" name="gender" formControlName="gender" [value]="true">
            <label for="female">Kadın</label>
          </div>
        </div>

        <div class="form-group form-group-submit">
          <button type="submit" class="btn btn-primary">Bilgileri Güncelle</button>
        </div>
      </form>
    </div>
  </div>
</div>
